In [1]:
# set workspace
WhoIsWorking = "RT"
WorkLocation = "School"

if WhoIsWorking == "RT":
    if WorkLocation == "Home":
        folder_path = r'C:\Users\rentr\Desktop\ENGO\DataMining\ENGO645_TermProject_Data'
    elif WorkLocation == "School":
        folder_path = r'D:\ENGO645_TermProject_Data'
elif WhoIsWorking == "AA":
    folder_path = ''
elif WhoIsWorking == "IA":
    folder_path = 'C:\Users\afoam\assignments\ENGO645_TorontoCrimeAnalysis'
elif WhoIsWorking == "AI":
    folder_path = r'C:\Adewale_Directory\Capacity_Building\MGIS\Lecture_Note\WINTER2024\ENGO645\Course_Project\Project_Data'

print(folder_path)

D:\ENGO645_TermProject_Data

In [2]:
import os

# List all files in the folder
files = os.listdir(folder_path)

# Print the list of files
for file in files:
    print(file)

BuildingOutlines.CPG
BuildingOutlines.dbf
BuildingOutlines.prj
BuildingOutlines.sbn
BuildingOutlines.sbx
BuildingOutlines.shp
BuildingOutlines.shp.xml
BuildingOutlines.shx
BuildingOutlines_Dissolved.dbf
BuildingOutlines_Dissolved.prj
BuildingOutlines_Dissolved.sbn
BuildingOutlines_Dissolved.sbx
BuildingOutlines_Dissolved.shp
BuildingOutlines_Dissolved.shp.TFDL-SPC40503.1264.1316.sr.lock
BuildingOutlines_Dissolved.shp.TFDL-SPC40503.19744.1316.sr.lock
BuildingOutlines_Dissolved.shp.TFDL-SPC40503.21452.1316.sr.lock
BuildingOutlines_Dissolved.shp.TFDL-SPC40503.26652.1316.sr.lock
BuildingOutlines_Dissolved.shp.xml
BuildingOutlines_Dissolved.shx
CensusProfile_2021_PopAndIncome_Reformatted.csv
ClimateData_Hourly.csv
EnhancedPointsOfInterestPoint_Toronto.cpg
EnhancedPointsOfInterestPoint_Toronto.dbf
EnhancedPointsOfInterestPoint_Toronto.prj
EnhancedPointsOfInterestPoint_Toronto.sbn
EnhancedPointsOfInterestPoint_Toronto.sbx
EnhancedPointsOfInterestPoint_Toronto.shp
EnhancedPointsOfInterestPoint_Toronto.shp.xml
EnhancedPointsOfInterestPoint_Toronto.shx
HousePrices_Condos.csv
HousePrices_Detached.csv
HousePrices_SemiDetached.csv
info
LandUseClassified_20211220.cpg
LandUseClassified_20211220.dbf
LandUseClassified_20211220.prj
LandUseClassified_20211220.sbn
LandUseClassified_20211220.sbx
LandUseClassified_20211220.shp
LandUseClassified_20211220.shp.TFDL-SPC40503.1264.1316.sr.lock
LandUseClassified_20211220.shp.TFDL-SPC40503.19744.1316.sr.lock
LandUseClassified_20211220.shp.TFDL-SPC40503.21452.1316.sr.lock
LandUseClassified_20211220.shp.TFDL-SPC40503.26652.1316.sr.lock
LandUseClassified_20211220.shp.xml
LandUseClassified_20211220.shx
LUT_Neighbourhood_Community.csv
MajorCrimeIndicators.csv
Neighbourhoods.CPG
Neighbourhoods.dbf
Neighbourhoods.prj
Neighbourhoods.sbn
Neighbourhoods.sbx
Neighbourhoods.shp
Neighbourhoods.shp.TFDL-SPC40503.1264.1316.sr.lock
Neighbourhoods.shp.TFDL-SPC40503.19744.1316.sr.lock
Neighbourhoods.shp.TFDL-SPC40503.21452.1316.sr.lock
Neighbourhoods.shp.TFDL-SPC40503.26652.1316.sr.lock
Neighbourhoods.shp.xml
Neighbourhoods.shx
Poles.CPG
Poles.dbf
Poles.prj
Poles.qpj
Poles.sbn
Poles.sbx
Poles.shp
Poles.shp.xml
Poles.shx
TI_Neighbourhoods_BuildingDissolved.csv
TI_Neighbourhoods_BuildingDissolved.xlsx
TI_Neighbourhoods_ParksOpenSpaceNaturalArea.csv
TI_Neighbourhoods_ParksOpenSpaceNaturalArea.xlsx
TrafficCamera.CPG
TrafficCamera.dbf
TrafficCamera.prj
TrafficCamera.sbn
TrafficCamera.sbx
TrafficCamera.shp
TrafficCamera.shp.xml
TrafficCamera.shx

In [3]:
import os
import geopandas as gpd
import pandas as pd

# Path to the shapefile for neighborhoods
neighborhoods_shapefile_path = os.path.join(folder_path, 'Neighbourhoods.shp')

# Read the shapefile into a GeoDataFrame
neighbourhoods_gdf = gpd.read_file(neighborhoods_shapefile_path)

# Print the first few lines of the  table
neighbourhoods_gdf.head(2)

,_id1,AREA_ID2,AREA_AT3,PARENT_4,AREA_SH5,AREA_LO6,AREA_NA7,AREA_DE8,CLASSIF9,CLASSIF10,OBJECTI11,geometry
0,1,2502366,26022881,0,174,174,South Eglinton-Davisville,South Eglinton-Davisville (174),Not an NIA or Emerging Neighbourhood,NA,17824737.0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697..."
1,2,2502365,26022880,0,173,173,North Toronto,North Toronto (173),Not an NIA or Emerging Neighbourhood,NA,17824753.0,"POLYGON ((-79.39744 43.70693, -79.39837 43.706..."

In [4]:
# Keep only certain fields and rename fields
neighbourhoods_gdf = neighbourhoods_gdf[['geometry', '_id1', 'AREA_NA7']].rename(columns={'_id1': 'UID', 'AREA_NA7': 'NeighbourhoodName'})

# Print the first few lines of the updated GeoDataFrame
neighbourhoods_gdf.head(2)

,geometry,UID,NeighbourhoodName
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto

In [5]:
# Path to the shapefile for poles
poles_shapefile_path = os.path.join(folder_path, 'Poles.shp')

# Read shapefiles into GeoDataFrames
poles_gdf = gpd.read_file(poles_shapefile_path)

# List fields in the poles GeoDataFrame
poles_fields = poles_gdf.columns
print("Fields in the poles GeoDataFrame:")
print(poles_fields)

Fields in the poles GeoDataFrame:
Index(['objectid', 'subtype', 'subtypecod', 'elevation', 'X', 'Y', 'geometry'], dtype='object')

In [6]:
# List unique attributes in the 'subtype' field of poles
unique_subtypes = poles_gdf['subtype'].unique()

# Print unique attributes
print("Unique attributes in the 'subtype' field of poles:")
print(unique_subtypes)

Unique attributes in the 'subtype' field of poles:
['Miscellaneous Pole' 'Street Light and Traffic Signal Pole'
 'Traffic Signal Pole' 'Street Light Pole' 'Pedestrian Light Pole'
 'Circular Hydro Tower']

In [7]:
# Filter poles to only keep certain subtypes
desired_subtypes = ['Street Light and Traffic Signal Pole', 'Street Light Pole', 'Pedestrian Light Pole']
filtered_poles_gdf = poles_gdf[poles_gdf['subtype'].isin(desired_subtypes)]

In [8]:
# Perform spatial join to count the number of poles in each neighborhood
poles_per_neighborhood = gpd.sjoin(neighbourhoods_gdf, filtered_poles_gdf, how="left", op="contains").groupby('NeighbourhoodName').size()

# Add the count of poles as a new column to the neighborhoods GeoDataFrame
neighbourhoods_gdf['Poles_Count'] = neighbourhoods_gdf['NeighbourhoodName'].map(poles_per_neighborhood)

# Display the first few rows of the updated neighborhoods GeoDataFrame
neighbourhoods_gdf.head(2)

C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3493: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,geometry,UID,NeighbourhoodName,Poles_Count
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286

In [9]:
# Path to the shapefile for POI
poi_shapefile_path = os.path.join(folder_path, 'EnhancedPointsOfInterestPoint_Toronto.shp')

# Read the shapefile into a GeoDataFrame
poi_gdf = gpd.read_file(poi_shapefile_path)

# Perform spatial join to count the number of POIs within each neighbourhood
poi_per_neighborhood = gpd.sjoin(neighbourhoods_gdf, poi_gdf, how="left", op="contains").groupby('NeighbourhoodName').size()

# Add the count of POIs as a new column to the neighborhoods GeoDataFrame
neighbourhoods_gdf['POI_Count'] = neighbourhoods_gdf['NeighbourhoodName'].map(poi_per_neighborhood)

# Display the first few rows of the updated neighborhoods GeoDataFrame
neighbourhoods_gdf.head()

C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3493: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281

In [10]:
# Path to the shapefile for traffic cameras
traffic_cameras_shapefile_path = os.path.join(folder_path, 'TrafficCamera.shp')

# Read the shapefile into a GeoDataFrame
traffic_cameras_gdf = gpd.read_file(traffic_cameras_shapefile_path)

# Perform spatial join to count the number of traffic cameras within each neighborhood
traffic_cameras_per_neighborhood = gpd.sjoin(neighbourhoods_gdf, traffic_cameras_gdf, how="left", op="contains").groupby('NeighbourhoodName').size()

# Add the count of traffic cameras as a new column to the neighborhoods GeoDataFrame
neighbourhoods_gdf['TCamera_Count'] = neighbourhoods_gdf['NeighbourhoodName'].map(traffic_cameras_per_neighborhood)

# Display the first few rows of the updated neighborhoods GeoDataFrame
neighbourhoods_gdf.head()

C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3493: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12

In [11]:
import pandas as pd

# Path to the CSV file
cenus_file_path = os.path.join(folder_path, 'CensusProfile_2021_PopAndIncome_Reformatted.csv')

# Read the CSV file into a DataFrame
census_df = pd.read_csv(cenus_file_path)

# Display the first few rows of the GeoDataFrame
census_df.head()

,Geography,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Neighbourhood
0,Neighbourhood - 1 (West Humber-Clairville) 00...,33300,33600,40560,West Humber-Clairville
1,Neighbourhood - 2 (Mount Olive-Silverstone-Ja...,31345,29600,35000,Mount Olive-Silverstone-Jamestown
2,Neighbourhood - 3 (Thistletown-Beaumond Heigh...,9850,32800,41520,Thistletown-Beaumond Heights
3,Neighbourhood - 4 (Rexdale-Kipling) 00000 ( ...,10375,33600,42040,Rexdale-Kipling
4,Neighbourhood - 5 (Elms-Old Rexdale) 00000 ( ...,9355,34400,41240,Elms-Old Rexdale

In [12]:
neighbourhoods_gdf.head()

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12

In [13]:
# Merge the DataFrame with the neighborhoods GeoDataFrame based on the "NeighbourhoodName" column
neighbourhoods_gdf = pd.merge(neighbourhoods_gdf, census_df, left_on='NeighbourhoodName', right_on='Neighbourhood', how='left')

# Display the first few rows of the updated neighborhoods GeoDataFrame
neighbourhoods_gdf.head(2)

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,Geography,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Neighbourhood
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,Neighbourhood - 174 (South Eglinton-Davisvill...,22735.0,52400.0,69000.0,South Eglinton-Davisville
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,Neighbourhood - 173 (North Toronto) 00000 ( ...,15885.0,46000.0,58100.0,North Toronto

In [14]:
# Drop columns
neighbourhoods_gdf.drop(['Geography', 'Neighbourhood'], axis=1, inplace=True)

# Display updated neighborhoods GeoDataFrame
neighbourhoods_gdf.head(2)

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0

In [15]:
# Read the three house prices CSV files into separate DataFrames
df_condos = pd.read_csv(os.path.join(folder_path,'HousePrices_Condos.csv'))
df_detached = pd.read_csv(os.path.join(folder_path,'HousePrices_Detached.csv'))
df_semi_detached = pd.read_csv(os.path.join(folder_path,'HousePrices_SemiDetached.csv'))

# Display the first few rows of each DataFrame
print("Condos DataFrame:")
print(df_condos.head(2))

print("\nDetached DataFrame:")
print(df_detached.head(2))

print("\nSemi-Detached DataFrame:")
print(df_semi_detached.head(2))

Condos DataFrame:
             Community AvgPrice_Condos
0  Bay Street Corridor       811000.00
1       Dufferin Grove       721000.00

Detached DataFrame:
             Community  AvgPrice_Detached
0  Bay Street Corridor                NaN
1       Dufferin Grove                NaN

Semi-Detached DataFrame:
              Community  AvgPrice_SemiDetached
0        Dufferin Grove                    NaN
1  Kensington-Chinatown              1729000.0

In [16]:
# Merge the DataFrames based on the 'Community' column
HousePricesAvg_df = pd.merge(df_condos, df_detached, on='Community', suffixes=('_condos', '_detached'),  how='outer')
HousePricesAvg_df = pd.merge(HousePricesAvg_df, df_semi_detached, on='Community',  how='outer')

# Convert columns to numeric type, coercing errors to NaN
HousePricesAvg_df[['AvgPrice_Condos', 'AvgPrice_Detached', 'AvgPrice_SemiDetached']] = \
    HousePricesAvg_df[['AvgPrice_Condos', 'AvgPrice_Detached', 'AvgPrice_SemiDetached']].apply(pd.to_numeric, errors='coerce')

# Calculate the average price based on available values
def calculate_average(row):
    prices = row[['AvgPrice_Condos', 'AvgPrice_Detached', 'AvgPrice_SemiDetached']].dropna()
    if len(prices) == 0:
        return float('NaN')
    elif len(prices) == 1:
        return prices.iloc[0]
    else:
        return prices.mean()

HousePricesAvg_df['AvgPrice'] = HousePricesAvg_df.apply(calculate_average, axis=1)

# Round the average prices to 2 decimal places
HousePricesAvg_df['AvgPrice'] = HousePricesAvg_df['AvgPrice'].round(2)

# Display the merged DataFrame with averaged price
HousePricesAvg_df.head()

,Community,AvgPrice_Condos,AvgPrice_Detached,AvgPrice_SemiDetached,AvgPrice
0,Bay Street Corridor,811000.0,NaN,NaN,811000.0
1,Dufferin Grove,721000.0,NaN,NaN,721000.0
2,Kensington-Chinatown,800000.0,NaN,1729000.0,1264500.0
3,Little Portugal,636000.0,NaN,1400000.0,1018000.0
4,Niagara,741000.0,NaN,1241000.0,991000.0

In [17]:
# Drop columns from the HousePricesAvg 
HousePricesAvg_df.drop(['AvgPrice_Condos', 'AvgPrice_Detached', 'AvgPrice_SemiDetached'], axis=1, inplace=True)

# Display the updated DataFrame
HousePricesAvg_df.head()

              Community   AvgPrice
0   Bay Street Corridor   811000.0
1        Dufferin Grove   721000.0
2  Kensington-Chinatown  1264500.0
3       Little Portugal  1018000.0
4               Niagara   991000.0

In [18]:
# Read the LUT CSV file into a DataFrame
lut_neighbourhood_community = pd.read_csv(os.path.join(folder_path,'LUT_Neighbourhood_Community.csv'))

# Perform the join operation
HousePricesAvg_df = pd.merge(HousePricesAvg_df, lut_neighbourhood_community, on='Community', how='left')

# Display the merged DataFrame
HousePricesAvg_df.head()

              Community   AvgPrice     NeighbourhoodName
0   Bay Street Corridor   811000.0        Bay-Cloverhill
1   Bay Street Corridor   811000.0    Yonge-Bay Corridor
2        Dufferin Grove   721000.0        Dufferin Grove
3  Kensington-Chinatown  1264500.0  Kensington-Chinatown
4       Little Portugal  1018000.0       Little Portugal

In [19]:
# Join neighborhoods with avg house prices
neighbourhoods_gdf = pd.merge(neighbourhoods_gdf, HousePricesAvg_df, left_on='NeighbourhoodName', right_on='NeighbourhoodName', how='left')

# Display the first few rows of the updated neighborhoods GeoDataFrame
neighbourhoods_gdf.head(5)

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Community,AvgPrice
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0,Mount Pleasant West,1537000.0
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0,Mount Pleasant West,1537000.0
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1,12380.0,38000.0,55850.0,NaN,NaN
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1,23180.0,41200.0,54350.0,NaN,NaN
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12,12645.0,44000.0,68200.0,Bay Street Corridor,811000.0

In [20]:
# Check for null values in the 'Community' column
null_community_count = neighbourhoods_gdf['Community'].isnull().sum()

print("Number of null values in the 'Community' column:", null_community_count)

Number of null values in the 'Community' column: 22

In [21]:
# Load the CSV file
Buildings_file = os.path.join(folder_path, "TI_Neighbourhoods_BuildingDissolved.csv")
Buildings_data = pd.read_csv(Buildings_file)

# Merge the CSV data with neighbourhoods_gdf based on the NeighbourhoodName field
neighbourhoods_gdf = pd.merge(neighbourhoods_gdf, Buildings_data, left_on="NeighbourhoodName", right_on="AREA_NA7")

In [22]:
# Display the updated neighbourhoods_gdf
neighbourhoods_gdf.head()

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Community,AvgPrice,OBJECTID,AREA_NA7,AREA,BuildingCoveragePERCENTAGE
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0,Mount Pleasant West,1537000.0,123,South Eglinton-Davisville,3.789351e+05,29.087555
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0,Mount Pleasant West,1537000.0,103,North Toronto,1.741970e+05,31.403497
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1,12380.0,38000.0,55850.0,NaN,NaN,35,Dovercourt Village,6.886593e+05,33.231409
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1,23180.0,41200.0,54350.0,NaN,NaN,71,Junction-Wallace Emerson,1.016517e+06,33.167140
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12,12645.0,44000.0,68200.0,Bay Street Corridor,811000.0,153,Yonge-Bay Corridor,7.406525e+05,48.028587

In [23]:
# Specify columns to drop
columns_to_drop = ['OBJECTID', 'AREA_NA7', 'AREA']

# Drop the specified columns from neighbourhoods_gdf
neighbourhoods_gdf = neighbourhoods_gdf.drop(columns=columns_to_drop)

# Display the updated neighbourhoods_gdf
neighbourhoods_gdf.head()

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Community,AvgPrice,BuildingCoveragePERCENTAGE
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0,Mount Pleasant West,1537000.0,29.087555
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0,Mount Pleasant West,1537000.0,31.403497
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1,12380.0,38000.0,55850.0,NaN,NaN,33.231409
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1,23180.0,41200.0,54350.0,NaN,NaN,33.167140
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12,12645.0,44000.0,68200.0,Bay Street Corridor,811000.0,48.028587

In [24]:
# Load the CSV file
ParkOSNA_file = os.path.join(folder_path, "TI_Neighbourhoods_ParksOpenSpaceNaturalArea.csv")
ParkOSNA_data = pd.read_csv(ParkOSNA_file)

# Merge the CSV data with neighbourhoods_gdf based on the NeighbourhoodName field
neighbourhoods_gdf = pd.merge(neighbourhoods_gdf, ParkOSNA_data, left_on="NeighbourhoodName", right_on="AREA_NA7")

# Display the updated neighbourhoods_gdf
neighbourhoods_gdf.head()

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Community,AvgPrice,BuildingCoveragePERCENTAGE,OBJECTID,AREA_NA7,AREA,ParksOSNAPERCENTAGE
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0,Mount Pleasant West,1537000.0,29.087555,123,South Eglinton-Davisville,60207.464870,6.375824
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0,Mount Pleasant West,1537000.0,31.403497,103,North Toronto,4556.163857,1.133288
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1,12380.0,38000.0,55850.0,NaN,NaN,33.231409,35,Dovercourt Village,118362.095300,7.875048
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1,23180.0,41200.0,54350.0,NaN,NaN,33.167140,71,Junction-Wallace Emerson,151633.301600,6.821523
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12,12645.0,44000.0,68200.0,Bay Street Corridor,811000.0,48.028587,153,Yonge-Bay Corridor,71397.600170,6.382056

In [25]:
# Specify columns to drop
columns_to_drop = ['OBJECTID', 'AREA_NA7', 'AREA']

# Drop the specified columns from neighbourhoods_gdf
neighbourhoods_gdf = neighbourhoods_gdf.drop(columns=columns_to_drop)

# Display the updated neighbourhoods_gdf
neighbourhoods_gdf.head()

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Community,AvgPrice,BuildingCoveragePERCENTAGE,ParksOSNAPERCENTAGE
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0,Mount Pleasant West,1537000.0,29.087555,6.375824
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0,Mount Pleasant West,1537000.0,31.403497,1.133288
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1,12380.0,38000.0,55850.0,NaN,NaN,33.231409,7.875048
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1,23180.0,41200.0,54350.0,NaN,NaN,33.167140,6.821523
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12,12645.0,44000.0,68200.0,Bay Street Corridor,811000.0,48.028587,6.382056

In [26]:
# Subtract "ParksOSNAPERCENTAGE" from 100 to get the "BuiltUpPERCENTAGE"
neighbourhoods_gdf['BuiltUpPERCENTAGE'] = 100 - neighbourhoods_gdf['ParksOSNAPERCENTAGE']

# Display the updated neighbourhoods_gdf
neighbourhoods_gdf.head()

,geometry,UID,NeighbourhoodName,Poles_Count,POI_Count,TCamera_Count,TotalPopulation,MedianTotalIncome,AverageTotalIncome,Community,AvgPrice,BuildingCoveragePERCENTAGE,ParksOSNAPERCENTAGE,BuiltUpPERCENTAGE
0,"POLYGON ((-79.38635 43.69783, -79.38623 43.697...",1,South Eglinton-Davisville,649,1185,2,22735.0,52400.0,69000.0,Mount Pleasant West,1537000.0,29.087555,6.375824,93.624176
1,"POLYGON ((-79.39744 43.70693, -79.39837 43.706...",2,North Toronto,286,851,2,15885.0,46000.0,58100.0,Mount Pleasant West,1537000.0,31.403497,1.133288,98.866712
2,"POLYGON ((-79.43411 43.66015, -79.43537 43.659...",3,Dovercourt Village,1170,534,1,12380.0,38000.0,55850.0,NaN,NaN,33.231409,7.875048,92.124952
3,"POLYGON ((-79.43870 43.66766, -79.43841 43.666...",4,Junction-Wallace Emerson,1663,876,1,23180.0,41200.0,54350.0,NaN,NaN,33.167140,6.821523,93.178477
4,"POLYGON ((-79.38404 43.64497, -79.38502 43.644...",5,Yonge-Bay Corridor,1139,20281,12,12645.0,44000.0,68200.0,Bay Street Corridor,811000.0,48.028587,6.382056,93.617944

In [27]:
# Load the CSV file
MajorCrime_file = os.path.join(folder_path, "MajorCrimeIndicators.csv")
MajorCrime_data = pd.read_csv(MajorCrime_file)

# List all fields in the file
fields_in_file = MajorCrime_data.columns.tolist()

# Display the list of fields
print(fields_in_file)

['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE', 'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW', 'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW', 'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 'PREMISES_TYPE', 'UCR_CODE', 'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY', 'HOOD_158', 'NEIGHBOURHOOD_158', 'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84']

In [28]:
# Find the number of records in the filtered data
num_records = len(MajorCrime_data)

# Display the number of records
print("Number of records:", num_records)

Number of records: 372899

In [29]:
# List unique attributes in the OCC_YEAR column
unique_years = MajorCrime_data['OCC_YEAR'].unique()

# Display the unique attributes
print("Unique years:", unique_years)

Unique years: [2014. 2013.   nan 2012. 2003. 2011. 2010. 2004. 2009. 2008. 2006. 2000.
 2005. 2002. 2001. 2015. 2007. 2016. 2017. 2018. 2019. 2020. 2021. 2022.
 2023.]

In [30]:
# Load the ClimateData_Hourly.csv file
ClimateData_file = os.path.join(folder_path, "ClimateData_Hourly.csv")
ClimateData_data = pd.read_csv(ClimateData_file)

# List all fields in the file
fields_in_file = ClimateData_data.columns.tolist()

# Display the list of fields
print(fields_in_file)

['x', 'y', 'PROVINCE_CODE', 'LOCAL_MONTH', 'VISIBILITY_FLAG', 'HUMIDEX_FLAG', 'UTC_DAY', 'TEMP', 'LOCAL_DATE', 'RELATIVE_HUMIDITY', 'WEATHER_FRE_DESC', 'WEATHER_ENG_DESC', 'PRECIP_AMOUNT_FLAG', 'UTC_DATE_FORMATTED', 'UTC_DATE', 'LOCAL_YEAR', 'WINDCHILL_FLAG', 'STATION_PRESSURE_FLAG', 'WIND_DIRECTION', 'VISIBILITY', 'RELATIVE_HUMIDITY_FLAG', 'STATION_NAME', 'STATION_PRESSURE', 'HUMIDEX', 'DEW_POINT_TEMP', 'WINDCHILL', 'WIND_DIRECTION_FLAG', 'LOCAL_DAY', 'CLIMATE_IDENTIFIER', 'PRECIP_AMOUNT', 'UTC_YEAR', 'LOCAL_HOUR', 'WIND_SPEED', 'UTC_MONTH', 'ID', 'WIND_SPEED_FLAG', 'TEMP_FLAG', 'DEW_POINT_TEMP_FLAG']

C:\Users\rdtruong\AppData\Local\Temp\ipykernel_28744\688971924.py:3: DtypeWarning: Columns (12,17,20,26,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  ClimateData_data = pd.read_csv(ClimateData_file)

In [31]:
# Keep only the 'UTC_DATE_FORMATTED' and 'TEMP' fields
ClimateData_data = ClimateData_data[['UTC_DATE_FORMATTED', 'TEMP']]

# Display the updated DataFrame
ClimateData_data.head()

       UTC_DATE_FORMATTED  TEMP
0  2023/12/31 05:00:00+00  /0.1
1  2023/12/31 04:00:00+00     0
2  2023/12/31 03:00:00+00     0
3  2023/12/31 02:00:00+00   0.1
4  2023/12/31 01:00:00+00   0.3

In [32]:
# Replace all '/' with '-' in the 'TEMP' field
ClimateData_data['TEMP'] = ClimateData_data['TEMP'].str.replace('/', '-')

# Display the updated DataFrame
ClimateData_data.head()

       UTC_DATE_FORMATTED  TEMP
0  2023/12/31 05:00:00+00  -0.1
1  2023/12/31 04:00:00+00     0
2  2023/12/31 03:00:00+00     0
3  2023/12/31 02:00:00+00   0.1
4  2023/12/31 01:00:00+00   0.3

In [33]:
# Merge the climate data with the crime data based on the date columns
MajorCrime_data = pd.merge(MajorCrime_data, ClimateData_data, left_on='OCC_DATE', right_on='UTC_DATE_FORMATTED', how='left')

# Display the merged data
MajorCrime_data.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,UTC_DATE_FORMATTED,TEMP
0,-8.809036e+06,5.431523e+06,1,GO-20141260264,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Assault,Assault,143,West Rouge,131,Rouge (131),-79.132915,43.780413,2014/01/01 05:00:00+00,-9
1,-8.814320e+06,5.435514e+06,2,GO-20141260033,2014/01/01 05:00:00+00,2013/12/31 05:00:00+00,2014,January,1,1,...,Assault,Assault,144,Morningside Heights,131,Rouge (131),-79.180387,43.806289,NaN,NaN
2,-8.832825e+06,5.419631e+06,3,GO-20141259834,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Assault With Weapon,Assault,55,Thorncliffe Park,55,Thorncliffe Park (55),-79.346615,43.703234,2014/01/01 05:00:00+00,-9
3,-8.847292e+06,5.429042e+06,4,GO-20141264084,2014/01/01 05:00:00+00,2013/12/31 05:00:00+00,2014,January,1,1,...,Assault Bodily Harm,Assault,27,York University Heights,27,York University Heights (27),-79.476579,43.764317,NaN,NaN
4,6.327780e-09,5.664924e-09,5,GO-20141260577,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Robbery - Swarming,Robbery,NSA,NSA,NSA,NSA,0.000000,0.000000,2014/01/01 05:00:00+00,-9

In [34]:
# Filter the data where OCC_YEAR is between 2014 and 2023 (inclusive)
MajorCrime_data_filtered = MajorCrime_data[(MajorCrime_data['OCC_YEAR'] >= 2014) & (MajorCrime_data['OCC_YEAR'] <= 2023)]

# Display the filtered data
MajorCrime_data_filtered.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,UTC_DATE_FORMATTED,TEMP
0,-8.809036e+06,5.431523e+06,1,GO-20141260264,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Assault,Assault,143,West Rouge,131,Rouge (131),-79.132915,43.780413,2014/01/01 05:00:00+00,-9
2,-8.832825e+06,5.419631e+06,3,GO-20141259834,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Assault With Weapon,Assault,55,Thorncliffe Park,55,Thorncliffe Park (55),-79.346615,43.703234,2014/01/01 05:00:00+00,-9
4,6.327780e-09,5.664924e-09,5,GO-20141260577,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Robbery - Swarming,Robbery,NSA,NSA,NSA,NSA,0.000000,0.000000,2014/01/01 05:00:00+00,-9
5,-8.840629e+06,5.412225e+06,6,GO-20141260618,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Assault,Assault,81,Trinity-Bellwoods,81,Trinity-Bellwoods (81),-79.416718,43.655115,2014/01/01 05:00:00+00,-9
6,-8.839460e+06,5.423396e+06,7,GO-20141260730,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,Assault,Assault,105,Lawrence Park North,105,Lawrence Park North (105),-79.406223,43.727681,2014/01/01 05:00:00+00,-9

In [35]:
# Find the number of records in the filtered data
num_records = len(MajorCrime_data_filtered)

# Display the number of records
print("Number of records:", num_records)

Number of records: 371364

In [36]:
# List unique attributes in the OCC_YEAR column
unique_years = MajorCrime_data_filtered['OCC_YEAR'].unique()

# Display the unique attributes
print("Unique years:", unique_years)

Unique years: [2014. 2015. 2016. 2017. 2018. 2019. 2020. 2021. 2022. 2023.]